* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Utilities */
:root {
    --common-color-1: rgb(255, 0, 0);
    --common-color-2: rgb(255, 255, 255);
    --common-color-3: rgb(0, 128, 0);
    --common-color-4: rgb(0, 0, 0);
}

.bold {
    font-weight: bold;
}

/* Common */

.container {
    margin: 0 auto;
    width: 80%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-40 {
    width: 30%;
}

.pad-10 {
    padding: 5px 10px;
}



/* Main */

.set-abbigliamento {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.abbigliamento {
    position: relative;
}

.heart {
    background-color: white;
    position: absolute;
    top: 40px;
    right: 0px;
    padding: 5px 10px;
    font-size: 30px;
}

.heart:hover {
    color: var(--common-color-1);
}

.img-hover {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.abbigliamento:hover .img-hover {
    display: block;
}

.sconto-sost {
    position: relative;
    bottom: 160px;
    color: var(--common-color-2);
}

.sconto {
    background-color: var(--common-color-1);
}

.sostenibilità {
    background-color: var(--common-color-3)
}

.tipodiabito {
    font-weight: bold;
}

.prezzorosso {
    color: var(--common-color-1);
}

.prezzobase {
    color: var(--common-color-4);
}

